* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* Log in form  */

.start-login {
    height: 100vh;
    width: 100%;
    background-image: url(../images/bg-login.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

.form-login {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    gap: 60px;


}

form {
    position: relative;
}

.form-login h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    /* text-shadow: 1px 1px 1px gray; */
}

.user-id,
.psw {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

label {
    font-weight: bold;
    font-size: 17px;
}

.user-id input,
.psw .input-pass input {
    padding: 15px;
    width: 100%;
    border-radius: 5px;
}

.input-pass {
    display: flex;
    width: 100%;
    text-align: center;
    position: relative;
}

.btn-login button {
    padding: 15px;
    width: 30%;
    border: none;
    background-color: blue;
    border-radius: 7px;

}

button a {
    color: white;
    text-decoration: none;
}

.psw .input-pass .material-symbols-outlined {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-top: 5px;
    margin-left: -50px;
}

.bg-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.392);
    width: 100%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}