* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex: 10;
    height: 100vh;

}

.container {
    display: flex;
    flex: 10;
    height: 100vh;
}

.navbar {
    flex: 0.5;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 50px 10px 10px 10px;
}

.navbar .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.icon a{
    width: 100%;
    text-decoration: none;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 5px;
}
.icon span {
    font-size: 30px;
    color: white;
    width: 10%;
}
.icon p{
    width: 50%;
}
.active {
    background-color: gray;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 9;

}

.main-header {
    background-color: white;
    flex: 0.5;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}
.bg-logo .logo{
    display: flex;

}
.bg-logo img{
    width: 30%;
    

}
.main-content{
    display: flex;
    flex: 7;

}
#search-bar {
    display: flex;
    position: relative;
    margin-left: 10px;
    margin-top: 30px;
}

.sidebarleft{
    display: flex;
    flex: 1.5;
    flex-direction: column;
    padding: 20px;
    
}

thead tr .col {
    background-color: rgb(224, 214, 216);
}
.btn{
    border: 1px solid gray;
    width: 50%;
    padding: 10px;
    background-color: green;
    color: white;
    margin-left: 10px;
    margin-bottom: 50px;

}
#search-bar input {
    padding: 10px;
    break-inside: 5px;
}

#search-bar span {
    margin-left: -38px;
    color: rgb(247, 236, 236);
    background-color: green;
    padding: 7px;
}
/* ............sidebar............ */  
.sidebar{
    flex: 3;
    background-color: rgb(176, 176, 202);
    /* background-color: goldenrod; */
}
table {
    border-collapse: collapse;
    width: 75%;
    margin: auto;
    margin-top: 30px;

}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 12px;
}

thead {

    border-bottom: 2px solid rgb(73, 70, 70);
} 

thead tr .color {
    background-color: rgb(224, 214, 216);
}

tbody tr td {
    padding: 10px;
    border-left: none;
    border-right: none;

}

.output h3:nth-child(2) {
    width: 21%;
    /* background-color: black; */
    padding: 10px;
    color: white;
    margin-top: 50%;
}

.output {
    margin-top: 25%;
    margin-left: 13%;
}

.output button{
    border: 1px solid gray;
    width: 15%;
    padding: 10px;
    background-color: green;
    color: white;

}

