* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex: 10;
    height: 100vh;
}

.navbar {
    flex: 0.5;
    background-color: #8B4513;
    justify-content: center;
    align-items: center;
}

.navbar .bg-logo {
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 150px 150px 150px 10px;
}

.navbar .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.icon span {
    font-size: 40px;
    color: white;
}

main {
    flex: 8;
    display: flex;
    flex-direction: column;

}


.main-header {
    background-color: teal;
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.main-header .search-bar {

    width: 45%;
    display: flex;
    gap: 10px;
    padding: 7px;
    background-color: white;
    border-radius: 20px 0px 20px 0px;
}

.search-bar #find-product {
    border: none;
}

.main-content {
    flex: 8;

}

.text {
    height: 5vh;
    width: 50%;
    margin-left: 40px;
    border: #8B4513;
    font-weight: bold;
    margin-bottom:-50px;
}
.text:hover {
    background-color:#8B4513;
}

.main-content {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 40%;
    padding: 30px;
}

.card2 {
    margin-top: 30px;
}

#card-total {
    border: 6px double teal;
    padding: 65px;
}

#total-sold {
    font-size: 40px;
    color: teal;

}

.sidebar {
    flex: 12.50;
    background-color: gainsboro;
}

table {
    border-collapse: collapse;
    width: 95%;
    font-size: 13px;
    margin: auto;
    margin-top: 20px;
    background-color: #8B4513;
}

caption {
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    color: teal;
}

td,
th {
    border: 1px solid rgb(99, 97, 97);
    padding: 15px;
}

tbody tr td {
    padding: 20px;
    border-left: none;
    border-right: none;
}
